<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register </title>
    <link rel="stylesheet" href="../Static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper"> 
        <div class="registerDiv"> 
            <h2> Register Form </h2>
            <form action="https://127.0.0.1:5000/users" method="post">
                <!-- Username -->
                <label for="username" class="userLabel"><b> Username </b></label>
                <input type="text" placeholder="Enter Username" name="username" class="inputUser" required>
                
                <div class="vr"> </div>
                
                <!-- Password -->
                <label for="password" class="passLabel"><b> Password </b></label>
                <input type="text" placeholder="Enter Password" name="password" class="inputPass" required>
                <input type="submit" value="Submit" class="submitButton">
            </form>
       </div>
    </div>
</body>
</html>
