* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #5706ec, #08c3e4);
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerDiv {
    background-color: #fff;
    width: 650px;
    height: 420px;
    margin-bottom: 100px;
    border-radius: 30px;
    position: relative;
    text-align: center;
    
}

.registerDiv > h2 {
    color: red;
    font-size: 40px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.userLabel, .passLabel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
}

.inputUser, .inputPass {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.userLabel {
    top: 100px;
    left: 260px;
}

.passLabel {
    top: 205px;
    left: 258px;
}

.inputUser {
    top: 146px;
    width: 330px;
    height: 23px;
    left: 155px;
}

.inputPass {
    top: 250px;
    width: 330px;
    height: 23px;
    left: 155px;
}

.submitButton {
    position: absolute;
    left: 265px;
    top: 320px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

.submitButton:hover {
    background-image: linear-gradient(to right, #5706ec, #08c3e4);
    border: 1px solid black;
    border-radius: 10px;
}

.vr {
    background-image: linear-gradient(to right, #5706ec, #08c3e4);
    height: 4px;
    margin-top: 122px;
}
